@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #13151d;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.swiper-button-prev {
  color: #eb4432 !important;
  background-color: #252a37;
  height: 35px !important;
  border-radius: 5px;
}

.swiper-button-next {
  text-align: center;
  color: #eb4432 !important;
  background-color: #252a37;
  height: 35px !important;
  border-radius: 5px;
}

.swiper-button-next::after {
  font-size: 1.1rem !important;
  font-weight: bolder !important;
  padding-left: 0.2rem !important;
}

.swiper-button-prev::after {
  font-size: 1.1rem !important;
  font-weight: bolder !important;
}
